{% extends "cursoOnline/form.html" %}

<header>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'cursoOnline/logInSignIn.css' %}"/>
</header>
    {% block 123 %}
    <div class="genericId">
        <h3>The requirements to sign in have not been met. The requirements are:</h3>
        <h3>- Username must have, at least, 3 characters;</h3>
        <h3>The requirements to sign in have not been met. The requirements are:</h3>
        <h3>- Username must have, at least, 3 characters;</h3>
        <h3>- Password must have, at least, 5 characters;</h3>
    </div>
    {% endblock %}